@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />

    <img class="logo-img" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/664/6417604664_7b3f693a-8829-40c9-be36-20aea458b18f.png?cb=1637693340" alt="">
    <br />
    <br />
    @*<h1 class="display-4">Bienvenido</h1>*@
    <p> </p>
</div>

<div class="text-center" role="group" aria-label="Basic mixed styles example">

    <a href="https://localhost:44370/Empleado" class="btn btn-outline-warning">Empleados</a>

    <a href="https://localhost:44370/Equipo" class="btn btn-outline-info">Equipos</a>

    <a href="https://localhost:44370/Accesorio" id="Ex" class="btn btn-outline-success">Accesorios</a>

    <a href="https://localhost:44370/Monitor" class="btn btn-outline-warning">Monitores</a>

</div>

<br />

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="4000">
            <img src="/dist/img/Blog_What-is-Inventory.png" class="d-block w-100" alt="..." height="600" width="600">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="/dist/img/Inventory-Reduction-Strategies-For-Excess-Or-Slow-Moving-Stock.jpg" class="d-block w-100" alt="..." height="600" width="600">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="/dist/img/inventory-control-software.jpg" class="d-block w-100" alt="..." height="600" width="600">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

