@model Inventario.Entities.Model.Modelo

@{
    ViewData["Title"] = "Create";
}

<br />
<div class="text-center">
    <img class="logo-img" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/664/6417604664_7b3f693a-8829-40c9-be36-20aea458b18f.png?cb=1637693340" alt="">
</div>
<br />
<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Crear modelo </h3>
        <i class="fas fa-check"></i>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form asp-action="Create">
            <!-- input states -->
            <div class="form-group">
                <label class="col-form-label" asp-for="Nombre">
                    Nombre
                </label>
                <input class="form-control" asp-for="Nombre" placeholder="Introduzca los datos...">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="card-footer float-right">
                <input type="submit" value="Guardar" class="btn btn-primary " />
                <a class="btn btn-danger " asp-action="Index">Cancelar</a>
            </div>

        </form>
    </div>
    <!-- /.card-body -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
