@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Confirmacion de creacion.</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Se necesita una confirmacion para crear la cuenta: 
    <a id="confirm-link" href="@Model.EmailConfirmationUrl"> Para confirmar la creacion de la nueva cuenta porfavor presionar Aqui!</a>
</p>
    }
    else
    {
<p>
        Por favor revise su correo.
</p>
    }
}
